#nav #logo {
  padding: 25px 0 0 20px;
}
.btnNav {
  display: none;
}
.Atltel {
  max-width: 648px;
}
.pot .introduce {
  width: 50%;
}
#introduce {
  display: block;
}
#category {
  display: block;
}
.poth .category {
  width: 50%;
}
.poth .tea {
  width: 100%;
}
.secondi .container {
  width: 50%;
}
.wrap {
  padding: 0 20px;
  margin: 0;
}
.p_left {
  min-height: 517px;
}