.tabPic {
  margin-top: 85px;
}
#nav #logo {
  position: absolute;
  top: 25px;
  left: 52px;
  float: left;
  width: 140px;
  height: 29px;
  background: url(../img/logo-v3-black.png) no-repeat;
}
.wrap .footerNav {
  display: none;
  float: none;
}
.wrap .footerNav {
  float: none;
}
.wrap .Trace {
  float: none;
  width: 30%;
  padding-top: 90px;
}
